* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f8fafc;
  color: #1f2933;
  background-image: image("as.jpeg");
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.center-text {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

/* Header */
.header {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent 10% ;
  height: 0%;
}

.logo {
  color: #2563eb;
  font-weight: 700;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

/* Hero */
.hero {
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: white;
  padding: 5rem 0;
  text-align: center;
}

.profile-pic {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 5px solid #facc15;
}

.hero span {
  color: #facc15;
}

.hero-buttons {
  margin-top: 2rem;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  border-radius: 30px;
  text-decoration: none;
  margin: 0.3rem;
  transition: 0.3s;
}

.primary {
  background: #facc15;
  color: black;
}

.secondary {
  border: 2px solid white;
  color: white;
}

.small {
  font-size: 0.85rem;
}

.btn:hover {
  transform: translateY(-3px);
}

/* Sections */
section {
  padding: 4rem 0;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  color: #1e40af;
  margin-bottom: 2rem;
}

/* Skills */


.container:hover {
  transform: translateY(-3px);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
}

.skill-card {
  background: white;
  padding: 1.5rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transform: translateY(-3px);
}

.skill-card i {
  font-size: 2rem;
  color: #2563eb;
  transform: translateY(-3px);
  margin-bottom: 0.5rem;
  display: block;
}

/* Projects */


.project-card:hover {
  transform: translateY(-3px);
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.project-card {
  background: white;
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.project-icon {
  font-size: 3rem;
  color: #2563eb;
  margin-bottom: 1rem;
}

/* Contact */
.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Footer */
.footer {
  background: #1e40af;
  color: white;
  text-align: center;
  padding: 2rem 0;
}

.social-links a {
  color: #facc15;
  margin: 0 0.5rem;
  font-size: 1.3rem;
}
